<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
  
  <servers>
    <server>
      <id>github</id>
      <username>rajvinay05</username>
      <password>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</password>
    </server>
  </servers>

</settings>
